.FeaturedFood {
  &__avatar-wrapper {
    margin-top: -90px;
    border-radius: 50%;
    padding: 7px;
    background-color: white;
    z-index: 1;
  }
}
.card {
  /*border-top-left-radius: 50%;
  border-top-right-radius: 50%;*/
  margin: 2rem;
  box-shadow: 0px 5px 11px gray;
}

.slick-next:before, .slick-prev:before {
  color: #000!important;
}
.slick-next, .slick-prev {
  color: #000!important;
}
.slick-next {
  right: 0px!important;
}

.slick-prev {
  left: 0px!important;
}
.slick-next:before, .slick-prev:before {
  color: #000!important;
}

@media screen and (max-width:480px){
  .card {
    border: 0.25px solid rgb(180, 179, 179);
    /*border-top-left-radius: 50%;
    border-top-right-radius: 50%;*/
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 5px 15px 0px grey;
    margin: 1rem;
  }
  .slick-next, .slick-prev {
    color: #000;
  }
  .slick-next {
    right: 0px;
  }
  
  .slick-prev {
    left: 0px;
  }
  .slick-next:before, .slick-prev:before {
    color: #000;
  }
}
